<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mappe2_s188886_s344046">
    <uses-permission android:name="com.example.mappe2_s188886_s344046.permission" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <permission android:name="com.example.mappe2_s188886_s344046.permission" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mappe2_s188886_s344046">
        <activity
            android:name=".ForsideActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LagreRestaurantActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".LagreBestillingActivity" />
        <activity android:name=".AlleBestillingerActivity" />
        <activity android:name=".AlleVennerActivity" />
        <activity android:name=".LagreVennActivity" />
        <service android:name=".PeriodicalService" />
        <service android:name=".SMSService" />
        <receiver android:name=".mybroadcast.SMSBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.mappe2_s188886_s344046.mybroadcast" />
            </intent-filter>
        </receiver>
    </application>

</manifest>